* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

li {
    list-style-type: none;
}