.inbox {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.5rem;
    width: 90%;
    margin: 0 auto;

}

.subject {
    text-align: left;
    color: #000;
}

.unread {
    display: none;
}

.read {
    gap: 1em;
    width: 50%;
}

.links {
    text-decoration: none;
    color: initial;
}

.inbox .row {
    /* border: 1px solid brown; */
    justify-content: left;
    align-items: center;
    gap: var(--medium-gap);
    text-align: left;
    padding: .1rem;
}

.mail {
    margin-bottom: .5rem;
    border: 1px solid var(--secondary-color);
}