.home {
    padding:var(--big-gap) var(--small-gap);
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
    background-color:  var(--secondary-color);
    height: 90dvh;
}

.unique {
    color: var(--primary-color);
    font-weight: 700;
}